.login-button {
    -fx-background-color:  #88DDEF;
    -fx-background-radius:  30px;
}

.login-button:hover {
    -fx-background-color:  #1ea2bd;
    
}

.exit-button {
    -fx-background-color:  #e15959;
    -fx-background-radius:  30px;
}

.exit-button:hover {
    -fx-background-color:  #fa0606e3;
}

.logout-button {
    -fx-background-color:  #079073;
    -fx-background-radius:  20px;
}

.logout-button:hover {
    -fx-background-color:  #31d1ae;
}

.management-button {
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.management-button:hover {
    -fx-background-color: #58f3e1;
}

.radius{
    -fx-background-radius: 20px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
    -fx-background-color: #fff;
}

